body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #99ff25, #4ccf00);
    height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    filter: blur(10px);
    z-index: -1;
}

.container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

img {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form {
    background: rgba(55, 44, 44, 0.3);
    padding: 2em;
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input, textarea, select {
    width: 90%;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.188);
    border: none;
    border-left: 1px solid rgb(5, 249, 13);
    border-top: 1px solid rgba(29, 255, 63, 0.8);
    border-radius: 500px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    background-color: #24b644c1;
    border: none;
    background: transparent;
    border: none;
    border-left: 1px solid rgb(5, 249, 13);
    border-top: 1px solid rgba(29, 255, 63, 0.8);
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.507);
    color: #0570f3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 5000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="email"],
form input[type="tel"],
form input[type="text"],
form select {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
}

form input[type="button"]:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
}

/* Placeholder dans les input */
::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

label {
    display: block;
    margin-top: 10px; /* Réduit l'espace entre les étiquettes */
    margin-bottom: 5px; /* Réduit l'espace en bas des étiquettes */
    font-weight: bold;
}
.checkbox-label {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

input#includeImage {
    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 15px; /* Ajuste le décalage de la case à cocher */
    vertical-align: middle; /* Ajuste l'alignement vertical */
    position: relative;
    top: -1px;
    overflow: hidden;
}

/* Styles pour la catégorie "Expert" */
#expertOptions {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2; /* Couleur de fond légère pour distinguer la section */
    border: 1px solid #ddd; /* Bordure discrète */
    border-radius: 5px; /* Bordures arrondies pour un look moderne */
}

#expertOptions h2 {
    margin-top: 0;
    color: #333; /* Couleur de texte pour le titre de la section */
}

#expertOptions button {
    display: block;
    width: 100%; /* Les boutons prennent toute la largeur du conteneur */
    margin: 5px 0; /* Marge pour espacer les boutons */
    padding: 10px; /* Padding pour augmenter la surface cliquable */
    border: none; /* Suppression de la bordure par défaut des boutons */
    background-color: #008d36; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur en forme de pointeur pour indiquer la cliquabilité */
    border-radius: 5px; /* Bordures arrondies */
}

#expertOptions button:hover {
    background-color: #005a25; /* Couleur de fond au survol */
}